PORT=3000
BASE_URL=https://your-app.koyeb.app

DB_HOST=brdwaov7jfuvvuls0tig-mysql.services.clever-cloud.com
DB_PORT=3306
DB_USER=uuasgayqonao80yh
DB_PASSWORD=RytcoxLRnmSBKmZc6qCi
DB_NAME=brdwaov7jfuvvuls0tig
DB_SSL=false

RAZORPAY_KEY_ID=rzp_test_xxxxxxxxx
RAZORPAY_KEY_SECRET=xxxxxxxxxxxxxxxxxxxxxxxx

MAKE_WEBHOOK_PAID=
MAKE_WEBHOOK_FAILED=

SESSION_SECRET=forexgreek_super_secret_key_change_this_32chars
COURSE_OFFER_PRICE=4999
COURSE_ORIGINAL_PRICE=19999
ALLOWED_ORIGIN=https://your-app.koyeb.app
